<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.essentialplatform.runtime.shared.domainclass">
   		<impl class="org.essentialplatform.petstore.domain.Customer"/>
   		<impl class="org.essentialplatform.petstore.domain.CustomerOrder"/>
   		<impl class="org.essentialplatform.petstore.domain.Product"/>
   		<impl class="org.essentialplatform.petstore.domain.StockItem"/>
   		<!--
   		<impl class="org.essentialplatform.petstore.domain.Category"/>
   		<impl class="org.essentialplatform.petstore.domain.Account"/>
   		<impl class="org.essentialplatform.petstore.domain.Address"/>
   		<impl class="org.essentialplatform.petstore.domain.CreditCard"/>
   		<impl class="org.essentialplatform.petstore.domain.OrderLine"/>
   		-->
   </extension>
   
   <!--
   <extension
         point="org.essentialplatform.louis.guifactory">
         <impl class="org.essentialplatform.petstore.gui.FilePathGuiFactory"/>
   </extension>
   -->


</plugin>
