<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.essentialplatform.louis.domainclass">
  	 	<impl class="org.essentialplatform.gui.acme.model.EasiestBean"/>
   		<impl class="org.essentialplatform.gui.acme.model.EasyBean"/>
   		<!-- <impl class="org.essentialplatform.gui.acme.model.AnotherEasyBean"/> -->
   		<!-- <impl class="org.essentialplatform.gui.acme.model.Counter"/> -->
        <impl class="org.essentialplatform.gui.acme.model.PrimitiveBean"/>
        <impl class="org.essentialplatform.gui.acme.model.WrappedPrimitiveBean"/>
        <impl class="org.essentialplatform.gui.acme.model.Beans"/>
   </extension>
   
   <!--
   <extension point="org.essentialplatform.louis.guifactory">
        <impl class="org.essentialplatform.gui.acme.factory.exts.ColourAttributeGuiFactory"/> 
   </extension>
   -->

</plugin>
