<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- must supply a 'louis' bean (implementing ILouisDefinition) -->

	<bean id="louis" 
		class="org.essentialplatform.louis.domain.SpringConfiguredLouisDefinition">
	    <property name="guiFactories" ref="guiFactories"/>
	    <property name="globalLabelProvider" ref="globalLabelProvider"/>
	    <property name="globalDndTransferProvider" ref="globalDndTransferProvider"/>
		<property name="secondaryBuilders">
			<list>
				<ref bean="louisProgModelRuntimeBuilder"/>
			</list>
		</property>
	</bean>


	<bean id="guiFactories"
		class="org.essentialplatform.louis.factory.SpringConfiguredGuiFactories">
		<!-- 
		<property name="guiFactories">
			<list>
				<ref bean="colourAttributeGuiFactory"/>
			</list>
		</property>
		 -->
	</bean>
	
	<!-- 
	<bean id="colourAttributeGuiFactory" 
		class="org.essentialplatform.gui.acme.factory.exts.ColourAttributeGuiFactory"/>
	-->
	
	<bean id="globalLabelProvider" 
		class="org.essentialplatform.louis.labelproviders.SpringConfiguredGlobalLabelProvider">
		<!-- 
		<property name="labelProviders">
			<list>
				<ref bean="someDomainSpecificLabelProvider"/>
			</list>
		</property>
		-->
	</bean>

	<bean id="globalDndTransferProvider" 
		class="org.essentialplatform.louis.dnd.SpringConfiguredGlobalDnDTransferProvider">
		<!-- 
		<property name="dndTransferProviders">
			<list>
				<ref bean="someDomainSpecificDndTransferProvider"/>
			</list>
		</property>
		-->
	</bean>

	<bean id="louisProgModelRuntimeBuilder" 
		class="org.essentialplatform.progmodel.louis.runtime.LouisProgModelRuntimeBuilder"/>

	<!-- potentially override the authenticationManager defined in 
	     spring-context-parent.xml in LouisPlugin -->
	<bean id="authenticationManager" 
		class="org.essentialplatform.services.authentication.noop.NoopAuthenticationManager">
	</bean>



	
</beans>
