<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- must supply a 'domain' bean (implementing IDomainDefinition) -->
	<bean id="domain" class="org.essentialplatform.louis.app.ExtensionPointReadingDomainDefinition">
		<property name="name" value="default"/>
	</bean>

	<!-- potentially override the authenticationManager defined in 
	     spring-context-parent.xml in LouisPlugin -->
	<bean id="authenticationManager" 
		class="org.essentialplatform.services.authentication.noop.NoopAuthenticationManager">
	</bean>

	
</beans>
