<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="fieldbuilder" 
                    name="Field Builder" 
                    schema="schema/fieldbuilder.exsd"/>
   <extension-point id="editorcontentbuilder" 
                    name="Editor Content Builder" 
                    schema="schema/editorcontentbuilder.exsd"/>
   
   <extension
         id="mikespike3"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="mikespike3.Application">
         </run>
      </application>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="mikespike3.Perspective"
            id="mikespike3.Perspective">
      </perspective>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Object List View"
            class="mikespike3.views.ObjectListView"
            id="mikespike3.views.ObjectListView">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
         <editor
         	name="Default Editor"
         	icon=""
         	class="mikespike3.editors.Editor"
         	id="mikespike3.editors.Editor">
         </editor>
   </extension>
   
   <extension
         point="mikespike3.fieldbuilder">
         <impl class="mikespike3.gui.exts.BooleanFieldBuilder"/>
         <impl class="mikespike3.gui.exts.DateFieldBuilder"/>
        <impl class="mikespike3.gui.exts.ExceptionFieldBuilder"/>
   </extension>

</plugin>
