<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="mikespike3"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="mikespike3.Application">
         </run>
      </application>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="mikespike3.Perspective"
            id="mikespike3.Perspective">
      </perspective>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Object List View"
            class="mikespike3.ObjectListView"
            id="mikespike3.ObjectListView">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
         <editor
         	name="Default Editor"
         	icon=""
         	class="mikespike3.editors.DefaultEditor"
         	id="mikespike3.editors.DefaultEditor">
         </editor>
   </extension>

</plugin>
