<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="domains" name="RCPViewer Runtime Domains" schema="schema/domains.exsd"/>
   <extension-point id="objectstorebootstrap" name="ObjectStore BootStrap" schema="schema/objectstorebootstrap.exsd"/>

   <extension
         point="de.berlios.rcpviewer.domain.runtime.objectstorebootstrap">
         <impl class="de.berlios.rcpviewer.persistence.NoopObjectStoreBootStrap"/>
   </extension>
</plugin>
