<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
              class="de.berlios.rcpviewer.gui.app.Application">
         </run>
      </application>
   </extension>
   
   <extension-point id="domainclass" 
                    name="Domain Class" 
                    schema="schema/domainclass.exsd"/>
   <extension-point id="fieldbuilder" 
                    name="Field Builder" 
                    schema="schema/fieldbuilder.exsd"/>
  <extension-point id="labelprovider" 
                    name="Label Provider" 
                    schema="schema/labelprovider.exsd"/>
                    
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Default Perspective"
            class="de.berlios.rcpviewer.gui.app.DefaultPerspective"
            id="de.berlios.rcpviewer.gui.app.DefaultPerspective">
      </perspective>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.berlios.rcpviewer.gui.editors.DefaultEditor"
            icon="icons/sample.gif"
            id="de.berlios.rcpviewer.rcp.objectEditor"
            name="Object Editor"/>
   </extension>
  
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.berlios.rcpviewer.gui"
            name="Rcp Views"/>
      <view
            category="de.berlios.rcpviewer.gui"
            class="de.berlios.rcpviewer.gui.views.classbar.ClassBarView"
            icon="icons/sample.gif"
            id="de.berlios.rcpviewer.gui.views.classbar.ClassBarView"
            name=" "/>
      <view
            category="de.berlios.rcpviewer.gui"
            class="de.berlios.rcpviewer.gui.views.sessiontree.SessionTreeView"
            icon="icons/sample.gif"
            id="de.berlios.rcpviewer.gui.views.sessiontree.SessionTreeView"
            name="%plugin.sessionTreeViewName"/>
      <view
            category="de.berlios.rcpviewer.gui"
            class="de.berlios.rcpviewer.gui.views.actions.ActionsView"
            icon="icons/sample.gif"
            id="de.berlios.rcpviewer.gui.views.actions.ActionsView"
            name="%plugin.actionsViewName"/>     
   </extension>
   
   <extension
         point="de.berlios.rcpviewer.gui.fieldbuilder">
         <impl class="de.berlios.rcpviewer.gui.editors.exts.BooleanFieldBuilder"/>
         <impl class="de.berlios.rcpviewer.gui.editors.exts.DateFieldBuilder"/>
         <impl class="de.berlios.rcpviewer.gui.editors.exts.IntegerFieldBuilder"/>
         <impl class="de.berlios.rcpviewer.gui.editors.exts.DomainObjectFieldBuilder"/>
   </extension>

</plugin>
