<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="domains" name="Essential Platform Runtime Domains" schema="schema/domains.exsd"/>
   <extension-point id="objectstorebootstrap" name="ObjectStore BootStrap" schema="schema/objectstorebootstrap.exsd"/>

   <extension
         point="org.essentialplatform.runtime.objectstorebootstrap">
         <impl class="org.essentialplatform.persistence.NoopObjectStoreBootStrap"/>
   </extension>
</plugin>
