<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="de.berlios.rcpviewer.gui.domainclass">
   		<impl class="de.berlios.rcpviewer.petstore.domain.Customer"/>
   		<impl class="de.berlios.rcpviewer.petstore.domain.CustomerOrder"/>
   		<impl class="de.berlios.rcpviewer.petstore.domain.Product"/>
   		<impl class="de.berlios.rcpviewer.petstore.domain.StockItem"/>
   		<!--
   		<impl class="de.berlios.rcpviewer.petstore.domain.Category"/>
   		<impl class="de.berlios.rcpviewer.petstore.domain.Account"/>
   		<impl class="de.berlios.rcpviewer.petstore.domain.Address"/>
   		<impl class="de.berlios.rcpviewer.petstore.domain.CreditCard"/>
   		<impl class="de.berlios.rcpviewer.petstore.domain.OrderLine"/>
   		-->
   </extension>


</plugin>
